<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Define machine sections -->
    <add key="MachinePrefixes" value="TestMachine/Test.;StagingMachine/Staging."/>

    <!-- Used by AppConfigReaderTest -->
    <!-- Default machine -->
    <add key="Category1.Key1" value="123"/>
    <add key="Category1.Key2" value="Hello"/>
    <add key="Category1.Key3" value="Doe, John"/>
    <add key="Category2.BoolVal" value="True"/>
    <add key="Category2.DoubleVal" value="12.23"/>
    <add key="Category2.StringVal" value="Hi!"/>

    <!-- Test machine -->
    <add key="Test.Category1.Key1" value="234"/>
    <add key="Test.Category1.Key2" value="Hello-Test"/>
    <add key="Test.Category1.Key3" value="Doe, Jane"/>
    <add key="Test.Category2.BoolVal" value="True"/>
    <add key="Test.Category2.DoubleVal" value="34.43"/>
    <add key="Test.Category2.StringVal" value="Hi!-Test"/>

    <!-- Test machine -->
    <add key="Staging.Category1.Key1" value="345"/>
    <add key="Staging.Category1.Key2" value="Hello-Staging"/>
    <add key="Staging.Category1.Key3" value="Doe, Jane"/>
    <add key="Staging.Category2.BoolVal" value="True"/>
    <add key="Staging.Category2.DoubleVal" value="45.56"/>
    <add key="Staging.Category2.StringVal" value="Hi!-Staging"/>
  </appSettings>
  
</configuration>